<div class=" text-warning">
  <h3 style="text-align:center"><%= @user.name.titleize%> Profile</h3>
  <p>Email: <%= @user.email %></p>
  <h5> Exercises </h5>
  <%= form_for @user, url: manage_exercises_user_path(@user), method: 'patch' do |form|%>
    <div>
      <% @all_exercises.each do |exercise| %>
        <%= check_box_tag "user[exercise_ids][]", exercise.id, form.object.exercises.include?(exercise) %>
        <%= exercise.name %>
        <br>
      <% end %>
    </div>

    <div>
      <%= form.submit 'Change Exercise', class: "btn btn-secondary text-warning" %>
    </div>
  <% end %>
</div>
<%= link_to 'Back', root_path, class: "btn btn-dark text-warning"%>
