<div class="col mt-4">
  <%= form_with model: Exercise, url: exercises_path, method: 'get' do |form|%>
    <button class="btn btn-dark text-warning mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapse">
      Filter
    </button>
    <div class="collapse text-warning" id="filterCollapse">
      <div class="card card-body bg-dark" style="width: 10rem;">
        <ul class="list-group list-group-flush bg-dark">
          <span>Favourite</span>
          <li class="list-group-item bg-dark text-warning">
            <%= check_box_tag "exercise[favourite]", true%>
            <%="Favourites"%>
          </li>
          <span>Category</span>
          <% Exercise.categories.keys.each do |category| %>
            <li class="list-group-item bg-dark text-warning">
              <%= check_box_tag "exercise[category][]", category%>
              <%= category %>
            </li>
          <% end %>
          <span>
            <%= form.submit 'Submit', class: "btn btn-secondary text-warning" %>
          </span>
          </ul>
      </div>
    </div>
  <% end %>
</div>


