<div class="col mt-4">
  <%= form_with model: Exercise, url: exercises_path, method: 'get' do |form|%>
    <button class="btn btn-dark text-warning mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#filterCollapse">
      Filter
    </button>
    <div class="collapse text-warning" id="filterCollapse">
      <div class="card card-body bg-dark">
        <div class="d-flex p-2 bd-highlight flex-row ">
          <% if current_user.trainee? %>
            <li class="list-group-item bg-dark text-warning">
              <%= check_box_tag "filtering_params[favourite]", current_user.id%>
              <%="Favourites"%>
            </li>
          <% end %>
          <% exercise_categories.each do |category| %>
            <li class="list-group-item bg-dark text-warning">
              <%= check_box_tag "filtering_params[category][]", category%>
              <%= category%>
            </li>
          <% end %>
          <span>
            <%= form.submit 'Submit', class: "btn btn-secondary text-warning" %>
          </span>
          </div>
      </div>
    </div>
  <% end %>
</div>
