<div class="container text-warning">
  <% if exercise.errors.any? %>
    <%= render 'shared/validation_error', object: exercise%>
  <% end %>

  <%= form_for exercise do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :description %><br>
      <%= form.text_field :description %>
    </div>

    <div>
      <%= form.label :link%><br>
      <%= form.text_field :link%>
    </div>

    <div>
      <%= form.label :category%><br>
      <%= form.select :category, Exercise.categories.keys%>
    </div>
    <br>
    <h4>Diet</h4>
    
    <div id='diets'>
      <%= form.fields_for :diets do |diet| %>
        <%= render "diet_fields", f: diet %>
      <% end %>
      <%= link_to_add_association 'Add Diet', form, :diets, class: 'btn btn-secondary text-warning' %>
    </div>

    <div>
      <br>
      <%= form.submit :Submit, class: "btn btn-dark text-warning" %>
    </div>
    <br>
    <%= link_to "Back", root_path, class: "btn btn-dark text-warning" %>
  <% end %>
</div>
